$green: #44bc74;
$light-green: #6ee09b;
$dark-blue: #1f2258;
$orange: coral;
$light-orange: #ff7f505c;
$rgb-green: rgba(110, 224, 155, 0.29);
$roboto: "Roboto", sans-serif;
$raleway: "Raleway", sans-serif;
