.Account {
  position: relative;
  width: 100%;
  background: whitesmoke;
  .container {
    min-height: 100vh;
    padding: 80px 30px;
    height: 100%;
    gap: 0 30px;
  }
}

@media (max-width: 767px) {
  .Account {
    .container {
      padding: 30px 15px;
      background: white;
    }
  }
}
