.filter {
  display: flex;
  flex-direction: column;

  .title {
    font: {
      size: 22px;
      weight: 600;
    }
    color: #202243;
  }
  .price-range {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
  }
  .rate {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    .title {
      margin-bottom: 18px;
    }
    .list-star {
      display: flex;
      align-items: center;
      justify-content: space-between;
      svg {
        color: gold;
      }
    }
  }
  .sort {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    .check-box {
      display: flex;
      flex-direction: column;
      gap: 10px 0;
      input {
        display: none;
      }
      input:checked + label {
        .box {
          border: 2px solid coral;
          svg {
            opacity: 1;
          }
        }
        p {
          color: coral;
        }
      }
      label {
        display: flex;
        align-items: center;
        gap: 0 5px;
        cursor: pointer;
        .box {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          border-radius: 5px;
          border: 2px solid rgba(0, 0, 0, 0.5);
          cursor: pointer;
          transition: 0.3s;
          svg {
            font-size: 12px;
            opacity: 0;
            color: coral;
            transition: 0.3s;
          }
        }
        p {
          font-size: 16px;
          transition: 0.3s;
          color: #202243;
        }
      }
    }
  }

  .btn-apply {
    margin-top: 20px;
    padding: 10px 35px;
    border-radius: 50px;
    cursor: pointer;
    font: {
      size: 18px;
      weight: 600;
    }
    color: white;
    background: coral;
    align-self: center;
  }
}
.show {
  display: none;
}

@media (max-width: 767px) {
  .filter {
    height: 0;
    overflow-y: hidden;
    transition: 0.5s;
    padding: 0 15px;

    &.active {
      height: 340px;
    }
    .title {
      font-size: 18px;
    }
    .price-range {
      gap: 5px 0;
      .css-187mznn-MuiSlider-root {
        padding: 5px 0;
      }
    }
    .btn-apply {
      padding: 8px 30px;
    }
  }
  .show {
    width: 100%;
    flex-direction: column;
    display: flex;
    margin-top: 5px;

    .btn-show {
      color: white;
      width: 100%;
      background: coral;
      border-radius: 3px;
      padding: 3px;
      text-align: center;
      svg {
        font-size: 14px;
        margin-right: 5px;
      }
    }
    .btn-hide {
      width: 100%;
      text-align: center;
      border-radius: 3px;
      border: 1px solid coral;
      color: coral;
      padding: 3px;
    }
  }
}
