.Cart {
  position: relative;
  width: 100%;
  .container {
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
  }

  &-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    width: 100%;
    h2 {
      font-size: 34px;
      color: #1f2258;
    }
    .list {
      display: flex;
      flex-direction: column;
      gap: 5px 0;
      width: 100%;

      .item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 15px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        position: relative;
        .left {
          display: flex;
          gap: 0 20px;
          position: relative;
          .img {
            position: relative;
            width: 130px;
            height: 130px;
            overflow: hidden;
            border-radius: 5px;
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .detail {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 5px 0;
            .name {
              font: {
                size: 20px;
                weight: 600;
              }
              color: #1f2258;
            }
            .price {
              font: {
                size: 20px;
                weight: 600;
              }
              color: red;
            }
            .size {
              font: {
                size: 18px;
                weight: 600;
              }
              color: #ff514e;
            }
          }
          .quantity {
            position: absolute;
            left: -10px;
            top: -10px;
            padding: 5px 15px;
            border-radius: 50px;
            background: gold;
            color: white;
            font-size: 16px;
          }
        }
        .right {
          display: flex;
          gap: 0 20px;
          .total {
            font-size: 20px;
            font-weight: 600;
            color: red;
          }
          .btn-delete {
            cursor: pointer;
            svg {
              font-size: 20px;
              color: slateblue;
            }
          }
        }
      }
    }
    .list-btn {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 10px;
      .btn-delete-all {
        padding: 10px 25px;
        border-radius: 5px;
        background: #ff514e;
        font-size: 16px;
        color: white;
        align-self: flex-start;
        cursor: pointer;
      }
      .btn-checkout {
        padding: 15px 35px;
        border-radius: 50px;
        font-size: 18px;
        color: white;
        background: #ff514e;
        transition: 0.5s;
        cursor: pointer;

        &:hover {
          padding: 15px 40px;
          box-shadow: 0 0 10px 2px #ff514ed2;
        }
      }
    }
  }
  &-empty {
    position: relative;
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px 0;
      p {
        font-size: 20px;
        color: #1f2258;
      }
      .btn-order {
        padding: 10px 30px;
        border-radius: 5px;
        background: coral;
        color: white;
        font: {
          size: 20px;
          weight: 600;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .Cart {
    .container {
      padding: 55px 15px 30px 15px;
    }

    &-list {
      gap: 10px 0;
      h2 {
        font-size: 24px;
      }

      .list {
        .item {
          padding: 5px 0;
          .left {
            gap: 0 10px;
            width: 70%;
            .img {
              width: 80px;
              height: 80px;
            }
            .detail {
              width: calc(100% - 90px);
              .name {
                font-size: 16px;
              }
              .price {
                font-size: 16px;
              }
              .size {
                font-size: 12px;
              }
            }
            .quantity {
              padding: 3px 10px;
              font-size: 12px;
            }
          }
          .right {
            width: 30%;
            gap: 5px;
            align-self: flex-end;
            .total {
              font-size: 16px;
            }
            .btn-delete {
              svg {
                font-size: 16px;
              }
            }
          }
        }
      }

      .list-btn {
        margin-top: 5px;
        .btn-delete-all {
          font-size: 12px;
          padding: 6px 10px;
        }
        .btn-checkout {
          font-size: 14px;
          padding: 8px 20px;
        }
      }
    }

    &-empty {
      padding: 30px 0;
      .img {
        aspect-ratio: 16/9;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .text {
        p {
          font-size: 16px;
        }
        .btn-order {
          font-size: 16px;
        }
      }
    }
  }
}
